
# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.env
.env
env/
venv/
outputs/*



# Node.js / Tailwind
node_modules/
frontend/dist/
package-lock.json
package.json

# Jupyter / Notebooks
.ipynb_checkpoints/

# System
.DS_Store
Thumbs.db
